<mat-toolbar color="primary" >
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </button>
    </div>
    <div fxFlex="50" fxLayoutAlign="right center">
      <span ngClass.lt-sm="brand-sm">Visor NetCdf</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-sidenav">
<mat-drawer-container class="sidenav-container" >
    <mat-drawer opened #drawer mode="side" class="sidenav" fxLayout="column" fxLayoutAlign="space-around stretch">
      <app-side-menu #sidemenu (archivoCargado)="onFileChanged($event);" 
        (variableSeleccionada)="onVariableChanged($event);"></app-side-menu>
    </mat-drawer>
    <div class="sidenav-content mat-elevation-z8">
      <app-array-table #arrayTable [hidden]="!TipoDatoArreglo"></app-array-table>
      <app-vector-table #vectorTable [hidden]="!TipoDatoVector"></app-vector-table>
      <app-escalar-variable #escalarVariable [hidden]="!TipoDatoEscalar"></app-escalar-variable>
    </div>
  </mat-drawer-container>
</div>